
// Para guardar la paleta de colores y los colores degradados que usaremos en cada proyecto. Se modifica en función de cada proyecto

@function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores


$colors:(
  primario: #cb6221,
  secundario:#da9332,
  terciario: #3A8DB5,
  hover: #dabc94,
  alerta: #ab1217,
  blanco: #ffffff,
  gris: #505050
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

$fondo-transparente: rgba(9, 10, 7, 0.8);

$degradado: linear-gradient(to bottom, rgba(203,98,33,1) 0%, rgba(218,147,50,1) 100%);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
