// Para los estilos de la etiqueta header y todo lo que contenga dicha etiqueta, puedo crear distintos tipos de header con distinta distribución de los elementos clasico (menu, logo, iconos a redes sociales)

.Header{
  position: fixed;
  // border: 2px solid red;
  top: 0;
  left: 0;
  right: 0;
  z-index: capa(capa10);
  max-width: $ancho-maximo;
  height: $altura-header;
  line-height: $altura-header;
  line-height: $altura-header;
  background: $degradado;
  & .Logo{
    position: absolute;
    height: $altura-header;
    line-height: $altura-header;
    z-index: capa(capa1);
    & a{
      display: grid;
      width: auto;
      height: $altura-header;
      align-content: center;
    }
    & img{
      width: auto;
      height: 5rem;
    }
  }
  & .Panel-btn{
    display: block;
    position: relative;
    z-index: capa(capa10);
    left: calc(100% - 2.5rem);
  }
  & .Panel{
    position: fixed;
    z-index: capa(capa9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% + 5rem);
    overflow-y: auto;
    transform: translate(100%, 0);
    transition: transform .5s ease;
    &.is-active{
      transform: translate(0,0);
    }
  }
}

.hamburger{
  padding: 0;
  &:hover{
    opacity: 1;
  }
  &:focus{
    outline: 0;
    border: 0;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: color(blanco);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{
  background-color: color(blanco);
}

.Menu{
  margin: 0 auto;
  padding-top: $altura-header;
  text-align: center;
  height: calc(100% - 5rem);
  background: $degradado;
  & ul{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  & li{
    height: 4rem;
  }
  & a{
    color: color(blanco);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
